<h1> a list of comments should be here</h1>

<% @comments.each do |comments| %>
  <div>
    <%= comments.id %>
    <%= comments.from %>
    <%= comments.title %>
    <%= comments.comment %>
    <%= comments.created_at %>
  </div>
<% end %>