<tr>
  <td class="col-xs-1"><%= post.id %></td>
  <td class="col-xs-3"><%= link_to post.user do %><%= post.user.email %><% end %></td>
  <td class="col-xs-2"><%= link_to post do %><%= post.title %><% end %></td>
  <td class="col-xs-3"><%= post.url %></td>
  <td class="col-xs-2"><%= time_ago_in_words(post.created_at) %></td>
</tr>