<h2> Editz </h2>

<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

<%= form_for @user do |f| %>
  <%= f.label "Pick Profile picture" %>
  <%= f.file_field :avatar %>
  <%= f.submit "Upload Profile Picture" %>
<% end %>