<div class="container">
  <table class="table">
    <h2>Owner: <%= @user.email %></h2>
    <h5>Created: <%= @user.created_at %></h5>
  </table>

  <h1>Posts</h1>
  
  <table class="table table-bordered table-condensed">
    <thead>
      <tr class="info">
        <th class="col-xs-1">ID</th>
        <th class="col-xs-3">Email</th>
        <th class="col-xs-2">Title</th>
        <th class="col-xs-3">URL</th>
        <th class="col-xs-2">Time Posted</th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do |post| %>
        <%= render :partial => 'post', :locals => {:post => post} %>
      <% end %>
    </tbody>
  </table>


  <h1>Comments</h1>

  <table class="table table-bordered table-condensed">
    
    <thead>
      <tr class="success">
        <th>Post</th>
        <th>Content</th>
        <th>Owner</th>
        <th>Time Posted</th>
      </tr>
    </thead>

    <tbody>
      <% @user.comments.each do |comment| %>
        <tr>
          <td><%= comment.post.title %></td>
          <td><%= comment.content %></td>
          <td><%= comment.user.email %></td>
          <td><%= time_ago_in_words(comment.created_at) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>