<div class="container">
  
  
  <table class="table">
    <h5>Title: <%= @post.title %></h5>
    <h5>URL: <%= @post.url %></h5>
    <h5>Owner: <%= @post.user.email %></h5>
    <h5>Datetime: <%= @post.created_at %></h5>
    <h5>Number of votes: <span id="hihi"><%= @post.post_votes.count %></span></h5>
  </table>
  
  <%= button_to("VOTE", "#", :class => "button_vote", 'data-id' => @post.id) %>
  
  <%= form_for @comment, :remote => true, :html => {'data-postId' => @post.id} do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content, :id =>'comment_input' %>
    <%= f.text_field :post_id, :value => @post.id, :hidden => true %>
    <%= f.submit "Submit comment" %>
  <% end %>
  <div id='comment_error'></div>
  <h1>Comments</h1>
  
  <table class="table table-bordered table-condensed">
    
    <thead>
      <tr>
        <th>Content</th>
        <th>Owner</th>
      </tr>
    </thead>
    
    <tbody id='comments_list'>
      <% @post.comments.reverse.each do |comment| %>
        <!-- if you don't need to pass variables in, you can omit :partial => -->
        <%= render :partial => "comment", :locals => {:comment => comment} %>
      <% end %>
    </tbody>

  </table>


</div>