<h1> Voting for Tim Ho Wan Lunch</h1>

<% @votes.each do |vote| %>
  <%= link_to vote do %>
    <div>
      <%= vote.id %>
      <%= vote.name %>
      votes <%= vote.foragainst %>
    </div>
  <% end %>
<% end %>

<% link_to "New Vote", new_vote_path %>


<h1>New form to create votes</h1>

<%= form_for @vote, :method => :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :foragainst %>
  <%= f.text_field :foragainst %>
  <%= f.submit "Doge" %>
<% end %>